

@model IEnumerable<SportStore.Models.Product>


@Html.Partial("CartOperationsPage", Model)	



<table bordered="1">
	<thead>
		<tr>Name</tr>
		<tr>Category</tr>
		<tr>Description</tr>
		<tr>Price</tr>
		<tr>Cart Operations</tr>
	</thead>
	<tbody>
	</tbody>
</table>

