
@{
	Layout = null;
}

@model IEnumerable<SportStore.Models.Product>



@Html.Action("GetDeleteProductForm", "Admin", new{ProductId = Model.Select(m => m.ProductId).FirstOrDefault()})

<div id="update-SelectDeletedProduct">
</div>
@using(@Ajax.BeginForm("GetDeleteProductForm", "Admin", new{ProductId = Model.Select(m => m.ProductId).FirstOrDefault()}, new AjaxOptions
	{
		UpdateTargetId = "update-SelectDeletedProduct",
		InsertionMode = InsertionMode.Replace,
		HttpMethod = "GET"
	}
))
{
	@Html.AntiForgeryToken()
	<label for="Deleted Product">Deleted Product</label>
	<select id="Deleted Product" name="Deleted Product">
		@foreach(var item in Model)
	    {
			<option value="@item.ProductId">@item.ProductId</option>
	    }
	</select>

	<input type="submit" name="Select Product" value="Select Product"><br>
}


