
@{
	Layout = null;
}

@model SportStore.Models.CartLine




@using(@Html.BeginForm("AddToCart", "Cart", new{}, FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<label for="Quantity">Quantity</label>
	<input type="number" id="Quantity" name="Quantity"><br>
	

	<input type="submit" name="Add To Cart" value="Add To Cart"><br>
}


